<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <th:block th:replace="fragments/creativeTimTemplate::headstuff"></th:block>
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <title>Title</title>
    <link rel="stylesheet" href="/css/documentation.css">

</head>
    <body>

    <div sec:authorize="!hasAuthority('ADMIN')" th:replace="fragments/creativeTimTemplate::headwrap"></div>
    <div sec:authorize="hasAuthority('ADMIN')" th:replace="fragments/adminfragments::adminheadwrap"></div>

            <div class="container">
                <div clas="row">
                    <div class="col-md-3 col-md-offset-2">
                        <a href="/showlostclothes">
                        <img class ="theimage-container" src="/img/clothesdefault.jpg">
                        <h3>Clothes</h3>
                        </a>
                    </div>
                    <div class="col-md-3">
                       <a href="/showlostpets"> <img  class ="theimage-container" src="/img/petdefault.jpg">
                           <h3>Pets</h3></a>
                    </div>
                    <div class="col-md-3">
                        <a href="/showlostothers">
                            <img  class ="theimage-container" src="/img/otherdefault.jpg">
                            <h3>Others</h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-10  col-md-offset-2">
                <table class="table table-bigboy">
                    <thead>
                        <th>Image</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th sec:authorize="isAuthenticated()">Item Status</th>
                        <th sec:authorize="hasAuthority('ADMIN')">Owner</th>
                    </thead>

                    <tbody>
                        <tr  th:each="eachItem:${lostList}">
                            <td><div class="img-container"><img th:src="${eachItem.image}==null?${eachItem.itemCategory.defaultPic}:${eachItem.image}"/></div></td>
                            <td class="td-text" th:text="${eachItem.title}"></td>
                            <td class="td-text" th:text="${eachItem.description}"></td>
                            <td sec:authorize="hasAuthority('ADMIN')">
                               <span th:if="${eachItem.lost}==true"> Lost <br/> <a  th:href="@{/find/(id=${eachItem.id})}" th:inline="text">Report Found</a></span>
                               <span th:if="${eachItem.lost}==false"> Found <br/> <a  th:href="@{/lose/(id=${eachItem.id})}" th:inline="text">Report Lost</a></span>
                            </td>
                            <td>
                            <td sec:authorize="hasAuthority('USER')" th:text="${eachItem.lost}?'Lost':'Found'"></td>
                            <div sec:authorize="hasAuthority('ADMIN')" th:each="eachOwner:${eachItem.owners}">
                                <p th:text="${eachOwner.username}"></p>
                            </div>
                            </td>
                           </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <th:block th:replace="fragments/creativeTimTemplate::footstuff"></th:block>
    </body>
</html>