<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
    <body>

        <span sec:authorize="isAnonymous()">
            WELCOME. SIGN IN.
        </span>

        <span sec:authorize="isAuthenticated()">
            WELCOME,<span sec:authentication="name"></span>
        </span>

        <span>
           <div th:each="eachItem:${lostList}">
                       <p th:text="${eachItem.title}"></p>
                       <p th:text="${eachItem.description}"></p>
                       <a sec:authorize="isAuthenticated()" th:if="${eachItem.lost}==true" th:href="@{/find/(id=${eachItem.id})}" th:inline="text">Found</a>
                       <a sec:authorize="isAuthenticated()" th:if="${eachItem.lost}==false" th:href="@{/lose/(id=${eachItem.id})}" th:inline="text">Lost</a>
                       <img th:src="${eachItem.image}"></img>
           </div>
        </span>
    </body>
</html>